<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cửa hàng thiết bị điện tử THE SUN</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-xxxxxx"
      crossorigin="anonymous"
    />
    <script src="app.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/home.css" />
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <header>
      <div class="container">
        <div class="content__header">
          <div class="logo__header">
            <img src="LOGOTHESUN.png" alt="" />
          </div>
          <div class="menu__header">
            <nav>
              <ul class="nav__link">
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Sản phẩm</a></li>
                <li><a href="">Liên hệ</a></li>
              </ul>
            </nav>
          </div>
          <div class="card__head">
            <div class="card">
              <img src="GIOHANGSHOP.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="search-bar">
      <form action="/search" method="get">
        <input type="text" placeholder="Nhập tên sản phẩm..." name="search" />
        <button type="submit">Tìm kiếm</button>
      </form>
    </div>

    <section class="slide__body">
      <div class="container">
        <div class="container_slide">
          <div class="slides">
            <div class="item">
              <img src="../public/images/Banner 1.png" alt="" />
            </div>
            <div class="item">
              <img src="../public/images/Banner 2.png" alt="" />
            </div>
            <div class="item">
              <img src="../public/images/Banner 3.png" alt="" />
            </div>
            <div class="item">
              <img src="../public/images/Banner 4.png" alt="" />
            </div>
          </div>
          <div class="next" style="background-color: white">
            <img src="../public/images/MUITEN1.png" style="height: 15px" />
          </div>
          <div class="prev" style="background-color: white">
            <img src="../public/images/MUITEN2.png" style="height: 15px" />
          </div>
        </div>
      </div>
    </section>
    <script src="../public/js/slide.js"></script>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button
            class="btn btn-secondary dropdown-toggle split"
            data-toggle="dropdown"
          >
            Menu sản phẩm
          </button>
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Điện thoại</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">Máy lạnh</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">Máy giặt</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">Loa</a>
          </div>
        </div>
      </div>
    </div>
    <h1 class="custom-heading">Điện thoại</h1>
    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/OPPO A58.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">OPPO A58</h5>
        <p class="card-text">4.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/IPHONE 14 PRO MAX.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">IPHONE 14 PRO</h5>
        <p class="card-text">27.000.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/SAMSUNG Galaxy Z Fold4.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">SAMSUNG Z Fold4</h5>
        <p class="card-text">22.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/SAMSUNG Galaxy Z Flip5.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">SAMSUNG Z Flip5</h5>
        <p class="card-text">19.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/IPHONE 15 PRO MAX.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">IPHONE 15 PRO</h5>
        <p class="card-text">33.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <h1 class="custom-heading">Máy lạnh</h1>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/Máy lạnh.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">Máy Lạnh Comfee 1 HP CFS-10FWFF-V</h5>
        <p class="card-text">6.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/Máy lạnh 2.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">Máy Lạnh Samsung Inverter 1 Hp</h5>
        <p class="card-text">12.290.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/Máy lạnh 3.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">
          Máy lạnh Toshiba Inverter 1 Hp RAS-H10E2KCVG-V
        </h5>
        <p class="card-text">12.190.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/Máy lạnh 4.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">Máy Lạnh Sharp Inverter 1 HP AH-X10ZEW</h5>
        <p class="card-text">9.690.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/Máy lạnh 5.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">Máy lạnh LG Inverter 1.5 Hp V13WIN</h5>
        <p class="card-text">10.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <h1 class="custom-heading">Máy giặt</h1>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Máy Giặt Whirlpool 9.5 Kg VWVC9502FS.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Máy Giặt Whirlpool 9.5 Kg VWVC9502FS</h5>
        <p class="card-text">7.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Máy Giặt Aqua 9 Kg AQW-FR90GT.S"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Máy Giặt AQUA 9.0Kg AQW-FR90GT.S</h5>
        <p class="card-text">7.490.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Máy Giặt Sấy LG Inverter 15.8 Kg F2515RTGB.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Máy Giặt Sấy LG Inverter 15.8 Kg F2515RTGB</h5>
        <p class="card-text">18.490.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Máy Giặt Toshiba Inverter 10 Kg AW-DM1100PV.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Máy Giặt Toshiba Inverter 10 Kg AW-DM1100PV</h5>
        <p class="card-text">6.590.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Máy Giặt Electrolux Inverter 10 Kg EWT1074M5SA.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Máy Giặt Electrolux Inverter 10 Kg</h5>
        <p class="card-text">7.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <h1 class="custom-heading">Loa</h1>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Loa Bluetooth Divoom DitooPro.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Loa Bluetooth Divoom DitooPro</h5>
        <p class="card-text">1.990.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Loa Bluetooth Marshall Stockwell 2.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Loa Bluetooth Marshall Stockwell</h5>
        <p class="card-text">6.690.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img src="../public/images/Loa Bluetooth JBL Go 3.png" alt="" srcset="" />
      <div class="card-body">
        <h5 class="card-title">Loa Bluetooth JBL Go 3</h5>
        <p class="card-text">1.020.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Loa Bluetooth Sony SRS-XB100 Extra Bass.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Loa Bluetooth Sony SRS-XB100</h5>
        <p class="card-text">1.290.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <div class="card" style="width: 13rem">
      <img class="card-img-top" />
      <img
        src="../public/images/Loa Bluetooth Marshall Willen.png"
        alt=""
        srcset=""
      />
      <div class="card-body">
        <h5 class="card-title">Loa Bluetooth Marshall Willen</h5>
        <p class="card-text">2.500.000 VNĐ</p>
        <a href="#" class="btn btn-primary">MUA NGAY</a>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
      </ul>
    </nav>
    <a href="./edit.ejs">Your Link</a>

    <footer class="bg-dark text-white mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <p>&copy; Nguyễn Minh Hải Đăng - 110121181 - Đồ án cơ sở nghành</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
